<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>

    <h3>Welcome</h3>
    <hr />
    <table>
        <tr>
            <td>
                name:
            </td>
            <td th:text="*{user.name}">
            </td>
        </tr>
        <tr>
            <td>
                lastname:
            </td>
            <td th:text="*{user.lastName}">
            </td>
        </tr>
        <tr>
            <td>
                username:
            </td>
            <td th:text="*{user.userName}">
            </td>
        </tr>
        <tr>
            <td>
                role:
            </td>
            <td th:text="*{user.authorityType.toString()}">
            </td>
        </tr>
    </table>

    <div th:if="${user.authorityType == T(com.kucess.notebook.model.entity.AuthorityType).ADMIN}">
        <h4>Employees</h4>
        <table>
            <tr>
                <td>name</td>
                <td>lastname</td>
                <td>username</td>
                <td>delete</td>
            </tr>
            <tr th:each="emp: ${employees}">
                <td th:text="${emp.name}"></td>
                <td th:text="${emp.lastName}"></td>
                <td th:text="${emp.userName}"></td>
                <td>
                    <form th:method="post"
                          th:action="@{/notebook/v1/employees/{userName}(userName=${emp.userName})}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <input type="submit" value="delete">
                    </form>
                </td>
            </tr>
        </table>

        <a th:href="@{/notebook/v1/employees}">Add employee</a>

    </div>
    <div th:if="${user.authorityType == T(com.kucess.notebook.model.entity.AuthorityType).EMPLOYEE}">
        Hello user
    </div>
</body>
</html>